build --cxxopt="-std=c++14"

# For using clang
build:clang --action_env=BAZEL_COMPILER=clang
build:clang --action_env=CC=clang --action_env=CXX=clang++
build:clang --linkopt=-fuse-ld=lld

# asan gcc
build:asan --cxxopt="-fsanitize=address"
build:asan --cxxopt="-fno-omit-frame-pointer"
build:asan --cxxopt="-g" --cxxopt="-O2" --strip=never
build:asan --linkopt="-fsanitize=address"

# asan clang
build:clang_asan --config=clang --config=asan
