Checks: '-*, readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.ClassCase,               value: CamelCase }  
  - { key: readability-identifier-naming.EnumCase,                value: CamelCase }  
  - { key: readability-identifier-naming.StructCase,              value: CamelCase }  
  - { key: readability-identifier-naming.FunctionCase,            value: camelBack }  
  - { key: readability-identifier-naming.MethodCase,              value: camelBack }  
  - { key: readability-identifier-naming.NamespaceCase,           value: lower_case } 
  - { key: readability-identifier-naming.MemberPrefix,            value: m_ }         
  - { key: readability-identifier-naming.MemberCase,              value: camelBack }  
  - { key: readability-identifier-naming.ConstexprVariableCase,   value: UPPER_CASE } 
  - { key: readability-identifier-naming.EnumCase,                value: UPPER_CASE } 
  - { key: readability-identifier-naming.GlobalConstantCase,      value: UPPER_CASE } 
  - { key: readability-identifier-naming.TemplateParameterCase,   value: CamelCase }  