# This workflow builds & runs test cases in iceoryx

name: Build & Test

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job builds & runs iceoryx tests in ubuntu-18.04
  ubuntu-iceoryx-meta:
     # The type of runner that the job will run on
     runs-on: ubuntu-18.04

     # Steps represent a sequence of tasks that will be executed as part of the job
     steps:
       - name: Install iceoryx dependencies
         # Softwares installed in ubuntu-18.04 instance 
         # https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md
         run: sudo apt-get update && sudo apt-get install -y libacl1-dev libncurses5-dev

       - name : Checkout
         uses: actions/checkout@v2
 
       - name: Build sources
         run: cmake -Bbuild -Hiceoryx_meta -Dtest=ON -Dbinding_c=ON -Dexamples=ON -Dintrospection=ON && cmake --build build

       - name: Run timeless tests
         run: |
           cd $GITHUB_WORKSPACE/build
           make tests

       - name: Run timing tests
         run: |
           cd $GITHUB_WORKSPACE/build
           make timing_tests

  ubuntu-build-script:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Install iceoryx dependencies
        # Softwares installed in ubuntu-18.04 instance 
        # https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md
        run: sudo apt-get update && sudo apt-get install -y libacl1-dev libncurses5-dev

      - name : Checkout
        uses: actions/checkout@v2
 
      - name: Build sources
        run: |
          export NUM_CORES=`nproc`
          $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-test with-dds-gateway clean strict -j $NUM_CORES

      - name: Run tests
        run: |
          cd $GITHUB_WORKSPACE/build
          ../tools/run_all_tests.sh

      - name : Build sources (clang)
        run: |
          export CC=/usr/bin/clang
          export CXX=/usr/bin/clang++
          export NUM_CORES=`nproc`
          $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-test with-dds-gateway clean strict -j $NUM_CORES

 # This job builds & runs iceoryx tests in macos-10.15
  macos-build-script:
    runs-on: macos-10.15
    # Softwares installed in macos-10.15 instance
    # https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md     

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name : Checkout
        uses: actions/checkout@v2

      - name: Build ncurses from source
      # tinfo library which is required by iceoryx_introspection isn't available in mac
        run: |
          cd $GITHUB_WORKSPACE
          mkdir -p build
          cd build
          git clone https://github.com/mirror/ncurses.git 
          cd ncurses
          git checkout v6.2
          ./configure  --prefix=$GITHUB_WORKSPACE/build/install/prefix/ --exec-prefix=$GITHUB_WORKSPACE/build/install/prefix/ --with-termlib 
          make
          make install

      - name: Build sources
        run: $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-test clean strict

      - name: Run tests
        run: |
          cd $GITHUB_WORKSPACE/build
          ../tools/run_all_tests.sh disable-timing-tests

 # This job builds & runs iceoryx tests in Windows 2019
  windows-iceoryx-meta:
    runs-on: windows-latest
    # Softwares installed in windows instance
    # https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name : Checkout
        uses: actions/checkout@v2

      - name: Build sources
        run: |
          cmake -Bbuild -Hiceoryx_meta -Ddds_gateway=OFF -Dtest=ON -Dbinding_c=ON -Dexamples=ON && cmake --build build
