# This workflow builds & runs test cases in iceoryx

name: Build & Test

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job builds & runs iceoryx tests in ubuntu-18.04
  iceoryx-ubuntu:
     # The type of runner that the job will run on
     runs-on: ubuntu-18.04

     # Steps represent a sequence of tasks that will be executed as part of the job
     steps:
       - name: Install iceoryx dependencies
         # Softwares installed in ubuntu-18.04 instance
         # https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md
         run: |
          sudo apt-get update
          sudo apt-get install -y libacl1-dev libncurses5-dev doxygen graphviz texlive-font-utils
          sudo apt-get install -y plantuml texlive-latex-base texlive-latex-extra texlive-latex-recommended texlive-fonts-recommended

       - name: Checkout
         uses: actions/checkout@v2

       - name: Build sources
         run: |
            $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-strict build-all out-of-tree doc

       - name: Run timeless tests
         run: |
           cd $GITHUB_WORKSPACE/build
           make all_tests

       - name: Run timing tests
         run: |
           cd $GITHUB_WORKSPACE/build
           make timing_tests

       - name: Archive generated doxygen
         uses: actions/upload-artifact@v2
         with:
           name: iceoryx-pdf
           path: |
            ./build/doc/*.pdf
           retention-days: 30

 # This job builds & runs iceoryx tests in macos-10.15
  iceoryx-macos:
    runs-on: macos-latest
    # Softwares installed in macos-latest instance
    # https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build and install dependencies
      # tinfo library which is required by iceoryx_introspection isn't available in mac
        run: |
          cd $GITHUB_WORKSPACE
          mkdir -p build
          cd build
          git clone https://github.com/mirror/ncurses.git
          cd ncurses
          git checkout v6.2
          ./configure  --prefix=$GITHUB_WORKSPACE/build/install/prefix/ --exec-prefix=$GITHUB_WORKSPACE/build/install/prefix/ --with-termlib
          make
          make install

      - name: Build sources
        run: |
          $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-strict build-all out-of-tree

      - name: Run tests
        run: |
          cd $GITHUB_WORKSPACE/build
          make all_tests

 # This job builds & runs iceoryx tests in Windows 2019
  iceoryx-windows:
    runs-on: windows-latest
    # Softwares installed in windows instance
    # https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name : Checkout
        uses: actions/checkout@v2

      - name: Build sources
        run: |
          cmake -Bbuild -Hiceoryx_meta -DBUILD_TEST=ON -DINTROSPECTION=OFF -DBINDING_C=ON -DEXAMPLES=ON && cmake --build build
