# This workflow builds & runs test cases in iceoryx

name: Build & Test

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, release* ]

jobs:
  pre-flight-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/check_formatting.sh

  run-clang-tidy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/run-clang-tidy.sh

  build-test-ubuntu:
    runs-on: ubuntu-18.04
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-ubuntu.sh

  build-test-macos:
    runs-on: macos-10.14
    # prevent stuck jobs consuming macos runners for 6 hours
    timeout-minutes: 60
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-macos.sh

  build-test-windows:
    runs-on: windows-2019
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-windows.ps1

  run-integration-test:
    runs-on: ubuntu-20.04
    needs: pre-flight-check
    steps:
      - name: Setup ROS
        uses: ros-tooling/setup-ros@0.2.1
        with:
          required-ros-distributions: foxy
      - uses: actions/checkout@v2
      - run: ./tools/ci/run-integration-test.sh

  build-test-ubuntu-with-sanitizers-gcc:
    runs-on: ubuntu-20.04
    needs: pre-flight-check
    steps:
      - uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-ubuntu-with-sanitizers.sh gcc

  build-test-ubuntu-with-sanitizers-clang:
    runs-on: ubuntu-20.04
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-ubuntu-with-sanitizers.sh clang

  build-test-macos-with-sanitizers:
    runs-on: macos-latest
    # prevent stuck jobs consuming macos runners for 6 hours
    timeout-minutes: 60
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-macos-with-sanitizers.sh

  build-ubuntu-with-latest-clang-release:
    runs-on: ubuntu-latest
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-ubuntu-with-latest-clang-gcc.sh clang

  build-ubuntu-with-latest-gcc-release:
    runs-on: ubuntu-latest
    needs: pre-flight-check
    steps:
      - uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-ubuntu-with-latest-clang-gcc.sh gcc

  # gcc 5.4 is compiler used in QNX 7.0
  build-test-ubuntu-with-gcc54:
    runs-on: ubuntu-18.04
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/build-test-ubuntu-with-gcc54.sh

  coverage-and-docs:
    runs-on: ubuntu-20.04
    needs: pre-flight-check
    steps:
      - uses: actions/checkout@v2
      - run: ./tools/ci/coverage-and-docs.sh

      - name: Archive generated doxygen
        uses: actions/upload-artifact@v2
        with:
          name: iceoryx-pdf
          path: |
            ./build/doc/*.pdf
          retention-days: 30

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./lcov_results/unittest/lcov/iceoryx_lcov_result_unit.info
          name: iceoryx
          flags: unittests
          fail_ci_if_error: true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./lcov_results/unittest_timing/lcov/iceoryx_lcov_result_unit-timing.info
          name: iceoryx
          flags: unittests_timing
          fail_ci_if_error: true
