# This workflow builds & runs test cases in iceoryx

name: Test Coverage + Doxygen Documentation

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job builds & runs iceoryx tests in ubuntu-18.04
  iceoryx-coverage-doxygen-ubuntu:
    runs-on: ubuntu-20.04

    steps:
      - name: compiler versions
        run: |
          echo $(gcc --version)
          echo $(clang --version)

      - name: Install iceoryx dependencies
        # Softwares installed in ubuntu-18.04 instance
        # https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md
        run: |
          sudo apt-get update 
          sudo apt-get install -y libacl1-dev libncurses5-dev git cmake build-essential doxygen graphviz texlive-font-utils lcov
          sudo apt-get install -y plantuml texlive-latex-base texlive-latex-extra texlive-latex-recommended texlive-fonts-recommended

      - name : Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build, test and generate gcov report
        run: |
          mkdir $GITHUB_WORKSPACE/lcov_results
          mkdir $GITHUB_WORKSPACE/lcov_results/unittest
          # add flag to include coverage
          sudo $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh build-strict build-all test-add-user -c unit
          cp -rf $GITHUB_WORKSPACE/build/lcov/ $GITHUB_WORKSPACE/lcov_results/unittest/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
        with:
          file: ./lcov_results/unittest/lcov/iceoryx_lcov_result_unit.info
          name: iceoryx

      - name: Generate doxygen documentation
        run: |
          # add flag to include coverage
          sudo $GITHUB_WORKSPACE/tools/iceoryx_build_test.sh clean doc

      - name: Archive generated doxygen
        uses: actions/upload-artifact@v2
        with:
          name: iceoryx-pdf
          path: |
            ./build/doc/*.pdf
          retention-days: 30
